<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <ul class="navbar-links">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">Todos</a></li>
        <li><a href="#section2">Login</a></li>
        <li><a href="#section2">SignUp</a></li>
      </ul>
    </nav>
  </body>
</html>
